#MapImg {
    width: 400px;
    height: 300px;
    border: 0
}

#FindUs {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
}

#FindUs>h4 {
    text-transform: uppercase;
}

#location-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: flex-start;
}
#Map{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}