/* #Contact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 20rem;
    min-width: 200px;
    max-width: 400px;
    height: 200px;
    padding: 20px;
    gap: 30px;
}

#Contact-details {
    display: flex;
    flex: none;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    order: 0;
    min-height: 100px;
    max-height: 110px;

}

#Contact-details>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

#Contact-details>div>h4 {
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    flex-grow: 0;
}

#Contact-details>h3 {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    text-transform: uppercase;
}

#Contact-socials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#FindUs {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
}

#FindUs>h4 {
    text-transform: uppercase;
}

#Map{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

#MapImg {
    width: 400px;
    height: 300px;
    border: 0
}

nav>div>a>img {
    width: auto;
    max-width: 500px;
    min-width: 100px;
    height: 10vh;
    min-height: 60px;
    max-height: 70px;
    object-fit: contain
}

nav>ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav>ul>li{
    padding: 5px;
    text-transform: capitalize;
}

/*Card section
.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    width: 33%;
    max-width: 350px;
    min-width: 300px;
    height: 350px;
    max-height: 350px;
    min-height: 300px;
    margin: auto 10px;
}

.card figcaption {
    padding: 10px;
}

.card img {
    width: 100%;
    height: 15rem;
    object-fit: fill;
    border-radius: 10px 10px 0px 0px;
}

/* Backgraund shadow 
.card::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    min-height: 250px;
    max-height: 320px;
    top: 0;
    left: 0;
    box-shadow: 0px 200px 60px 60px #b9b9b9;
    z-index: -1;
}

#footer{
    display: flex;
    flex-direction: column;
    min-width: 850px;
    width: 100%;
    height: 80vh;
    min-height: 500px;
    max-height: none;

    padding: 0 50px;
    justify-content: space-around;

    
}

.footer-link{
    padding: 5px
}

#footer-links{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.getInvolved--mainDiv {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.2rem;
    gap: 2.5rem;
    min-width: 850px;
    height: 90vh;
    min-height: 500px;
    max-height: none;
    justify-content: center;
    align-content: center;
}

.getInvolved--mainDiv>header {
    text-align: center;
}

.getInvolved--mainDiv>section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#header {
    width: 100%;
    overflow: hidden;
    height: 10vh;
    min-height: 65px;
    max-height: 70px;
    border: 1px solid black;
    padding: 0 10px 0 10px;
}

#location-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: flex-start;
}

#main-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;

}

#nav {
    display: flex;
    justify-content: space-between
}

#quickAccess{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 960px) {
    .getInvolved--mainDiv>section {
        gap: 20px;
    }

    .card {
        max-width: 250px;
        min-width: 200px;
        max-height: 250px;
        min-height: 200px;
    }

    .card img {
        height: 10rem;
    }

    .card::after {
        width: 100%;
        height: 100%;
        min-height: 250px;
        max-height: 320px;
        top: 0;
        left: 0;
        box-shadow: 0px 100px 60px 60px #b9b9b9;
        z-index: -1;
    }
}

@media only screen and (max-width: 800px) {
    .getInvolved--mainDiv>section {
        gap: 20px;
    }

    .card {
        max-width: 220px;
        min-width: 175px;
        max-height: 220px;
        min-height: 175px;
    }

    .card img {
        height: 10rem;
    }

    .card::after {
        width: 100%;
        height: 100%;
        min-height: 250px;
        max-height: 320px;
        top: 0;
        left: 0;
        box-shadow: 0px 100px 60px 60px #b9b9b9;
        z-index: -1;
    }

    .getInvolved--mainDiv{
        min-width: 680px;
    }
} */