/* global css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Exo';
  src: url('../src/Assets/Fonts/Exo-2/Exo2-VariableFont_wght.ttf');
}

::selection {
  color: grey;
  background-color: none;
}

/*box-footer*/
@layer components {
  .box {
    @apply h-full w-full flex place-content-center flex-col content-center items-center place-items-center;
  }
}

li,
img,
video,
button {
  user-select: none;
}
/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
textarea:-webkit-scrollbar {
  width: 10px;
}
textarea:-webkit-scrollbar-track {
  background: gray-light;
}
textarea:-webkit-scrollbar-thumb {
  background: gray;
}
textarea:-webkit-scrollbar-thumb:hover {
  background: gray-dark;
}
