/* global css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Exo';
  src: url('../src/Assets/Fonts/Exo-2/Exo2-VariableFont_wght.ttf');
}

::selection {
  color: grey;
  background-color: none;
}
li,
img,
video,
button {
  user-select: none;
}
